.titulo_menu_bebidas{
    color: rgb(0, 0, 0);
    margin-block: 2rem;
    text-align: center; 
}

.contain_card_bebida{
    .bebida_img{
        max-width: 100%;
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.contain_bebida{
    @include xlarge{
        display: flex;
        flex-direction: column;
    }
}