* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box !important;
    font-family: 'Alegreya Sans SC', sans-serif;

    &::selection{
        background-color: rgba(102, 26, 26, 0.853);
        color: white;
    }
}